
        <!-- JQuery Banner Images Start -->
        <div id="index-banner">
            <%= image_tag("keyboard.jpg", :alt => "We make things work", :width => '940px', :height => '220px') %>
            <%= image_tag("gears.jpg", :alt => "We make things work", :width => '940px', :height => '220px') %>
            <%= image_tag("blueprint.jpg", :alt => "We make things work", :width => '940px', :height => '220px') %>
        </div>
        <!-- JQuery Banner Images End -->

      <div id="index-banner-shadow"></div>
      
      <!-- Package Wrapper Start -->
     	<div id="index-shared-wrapper">
          <div id="index-shared-background">
          	<div class="index-shared-text">Looking for an online presence?<br/><br/> We build professional websites to get the business you’re looking for!</div>
          </div>   
      </div>
      
      <div id="index-reseller-wrapper">
      	<div id="index-reseller-background">
          	<div class="index-reseller-text">Sometimes a desktop experience is necessary for your business.<br/><br/> We can build that for you!</div>
          </div>
      </div>
      
      <div id="index-domains-wrapper">
          <div id="index-domains-background">
              <div id="index-domains-text">Website or application causing you trouble?<br/><br/> We can apply a fix or enhancement in a snap!</div>
          </div>
      </div>
      
      <div id="index-shared-footer-wrapper">
          <div id="index-shared-footer">
              <div id="index-shared-information"><a href="contact" class="index-link">More Information</a></div>
          </div>
      </div>
      
      <div id="index-reseller-footer-wrapper">
          <div id="index-reseller-footer">
              <div id="index-reseller-information"><a href="contact" class="index-link">More Information</a></div>
          </div>
      </div>
      
      <div id="index-domains-footer-wrapper">
          <div id="index-domains-footer">
              <div id="index-domains-information"><a href="contact" class="index-link">More Information</a></div>
          </div>
      </div>
      <!-- Package Wrapper End -->