
        <div id="testimonial-banner"></div>
        
        <div class="horizontal-rule"></div>
         
        <div class="content-wrapper">  
            <!-- One Third Start -->
            <div class="content-one-third-wrapper">
            	<header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>CompanyName</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This webhost has been nothing but good for me. I can't believe I have only just found them!</p>
                        <p><a href="#" class="testimonial-link">http://www.companyname.com</a></p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
            <!-- One Third Start -->
            <div class="content-second-one-third-wrapper">
            	<header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>CompanyName</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This webhost has been nothing but good for me. I can't believe I have only just found them!</p>
                        <p><a href="#" class="testimonial-link">http://www.companyname.com</a></p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
            <!-- One Third Start -->
            <div class="content-second-one-third-wrapper">
            	<header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>CompanyName</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This webhost has been nothing but good for me. I can't believe I have only just found them!</p>
                        <p><a href="#" class="testimonial-link">http://www.companyname.com</a></p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
        </div>
        
        <div class="content-wrapper">  
            <!-- One Third Start -->
            <div class="content-one-third-wrapper">
            	<header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>CompanyName</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This webhost has been nothing but good for me. I can't believe I have only just found them!</p>
                        <p><a href="#" class="testimonial-link">http://www.companyname.com</a></p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
            <!-- One Third Start -->
            <div class="content-second-one-third-wrapper">
            	<header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>CompanyName</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This webhost has been nothing but good for me. I can't believe I have only just found them!</p>
                        <p><a href="#" class="testimonial-link">http://www.companyname.com</a></p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
            <!-- One Third Start -->
            <div class="content-second-one-third-wrapper">
            	<header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>CompanyName</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This webhost has been nothing but good for me. I can't believe I have only just found them!</p>
                        <p><a href="#" class="testimonial-link">http://www.companyname.com</a></p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
        </div>