
        <div id="box-styles-banner"></div>
        
        <div class="horizontal-rule"></div>
        
        <div class="content-wrapper">
            <!-- Full Width Start -->
            <header class="content-full-width-header"></header>
            <div class="content-full-width-background">
                <div class="content-full-width-body">
                    <h1>Full Page Width</h1>
                    <div class="content-horizontal-rule"></div>
                    <p>This is a full width content box. It will expand regardless of the amount of content it is filled with.                </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra arcu eu urna semper et bibendum ligula vehicula. Praesent congue, dui id ultricies lobortis, arcu est sagittis magna, ut mollis quam nunc vel dolor. Donec vehicula, velit et facilisis vulputate, neque tellus placerat leo, non bibendum urna magna quis lorem. Fusce dignissim, purus vitae tincidunt semper, ante nulla ornare ante, id fringilla arcu mi ut sem. Nulla ultrices nunc eu massa ornare non interdum magna pretium. Ut arcu odio, malesuada ac vehicula quis, euismod eget mi. Sed malesuada cursus arcu. Donec a nunc et sapien dapibus commodo. Phasellus cursus felis sed sem condimentum non cursus magna adipiscing. Vestibulum vestibulum leo non neque pharetra vel varius felis malesuada.</p>
                    <p>Curabitur tempus facilisis tortor, a rutrum lectus eleifend vitae. Pellentesque ut eros mauris. Quisque lectus lorem, cursus a convallis id, pharetra eu urna. Pellentesque scelerisque arcu in eros lacinia ornare. Morbi porttitor ornare diam, eget porttitor ante hendrerit ac. Aliquam placerat volutpat nibh at fermentum. Nulla pulvinar tincidunt porttitor. Praesent pellentesque adipiscing felis et condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in sem eu velit hendrerit fermentum. Donec quis sapien neque. Curabitur commodo imperdiet dui, sed convallis ipsum consequat id. Donec nec sapien id sapien venenatis cursus. Integer sollicitudin urna eu felis molestie eu bibendum libero venenatis. Ut egestas sem quis elit elementum dignissim. Duis ac pulvinar magna. Duis ac blandit sem. Duis rhoncus purus a turpis fermentum commodo. Praesent ac accumsan nunc.</p>
                </div>
            </div>
            <div class="content-full-width-footer"></div>
            <!-- Full width End -->
         </div>
         
         <div class="content-wrapper">   
            <!-- One Third Start -->
            <div class="content-one-third-wrapper">
            <header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>One Third Width</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This is a one thirds box.</p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
          
            <!-- One Third Start -->
            <div class="content-second-one-third-wrapper">
            <header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>One Third Width</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This is a one thirds box.</p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
            
            <!-- One Third Start -->
            <div class="content-second-one-third-wrapper">
            <header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>One Third Width</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This is a one thirds box.</p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
        </div>
        
        <div class="content-wrapper">
            <!-- One Third Start -->
            <div class="content-one-third-wrapper">
            <header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>One Third Width</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This is a one thirds box.</p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
            
            <!-- Two Third Start -->
            <div class="content-second-two-third-wrapper">
            <header class="content-two-third-header"></header>
                <div class="content-two-third-background">
                    <div class="content-two-third-body">
                        <h1>Two Third Width</h1>
                      <div class="content-horizontal-rule"></div>
                        <p>This is a two thirds box. It can be used in conjuction with a one third box to create a line similar to this.</p>
</div>
                </div>
                <div class="content-two-third-footer"></div>
            </div>
            <!-- Two Third End -->
        </div>
        
        <div class="content-wrapper">
            <!-- Two Third Start -->
            <div class="content-two-third-wrapper">
            <header class="content-two-third-header"></header>
                <div class="content-two-third-background">
                    <div class="content-two-third-body">
                        <h1>Two Third Width</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This is a two thirds box. It can be used in conjuction with a one third box to create a line similar to this.</p>
                    </div>
                </div>
                <div class="content-two-third-footer"></div>
            </div>
            <!-- Two Third End -->
            
            <!-- One Third Start -->
            <div class="content-second-one-third-wrapper">
            <header class="content-one-third-header"></header>
                <div class="content-one-third-background">
                    <div class="content-one-third-body">
                        <h1>One Third Width</h1>
                        <div class="content-horizontal-rule"></div>
                        <p>This is a one thirds box.</p>
                    </div>
                </div>
                <div class="content-one-third-footer"></div>
            </div>
            <!-- One Third End -->
        </div>