
        <div id="box-styles-banner"></div>
        
        <div class="horizontal-rule"></div>
        
        <div class="content-wrapper">
              <!-- Full Width Start -->
              <header class="content-full-width-header"></header>
              <div class="content-full-width-background">
                  <div class="content-full-width-body">
                      <h1>Mission Statement</h1>
                      <div class="content-horizontal-rule"></div>
                      <p>System88's mission is to build high quality software that will help our business partners achieve the highest level of success.</p>
                  </div>
              </div>
              <div class="content-full-width-footer"></div>
              <!-- Full width End -->
           </div>

           <div class="content-wrapper">
              <!-- One Third Start -->
              <div class="content-one-third-wrapper">
              <header class="content-one-third-header"></header>
                  <div class="content-one-third-background">
                      <div class="content-one-third-body">
                          <h1>Reliable</h1>
                          <div class="content-horizontal-rule"></div>
                          <p>Being able to contact a company is important.</p>
                          <br/>
                          <p>We're focused on providing a turn around time of 24 hours. Your concerns won't fall on deaf ears. </p>
                      </div>
                  </div>
                  <div class="content-one-third-footer"></div>
              </div>
              <!-- One Third End -->

              <!-- One Third Start -->
              <div class="content-second-one-third-wrapper">
              <header class="content-one-third-header"></header>
                  <div class="content-one-third-background">
                      <div class="content-one-third-body">
                          <h1>Quality</h1>
                          <div class="content-horizontal-rule"></div>
                          <p>Things shouldn't break when you pay for them.</p>
                          <br/>
                          <p>The services that we provide follow a stringent quality control process, with a focus on industry standards.</p>
                      </div>
                  </div>
                  <div class="content-one-third-footer"></div>
              </div>
              <!-- One Third End -->

              <!-- One Third Start -->
              <div class="content-second-one-third-wrapper">
              <header class="content-one-third-header"></header>
                  <div class="content-one-third-background">
                      <div class="content-one-third-body">
                          <h1>Accurate</h1>
                          <div class="content-horizontal-rule"></div>
                          <p>You shouldn't be taken by surprise.</p>
                          <br/>
                          <p>We know how important it is when working within a budget. We pride ourselves on providing accurate estimates.</p>
                      </div>
                  </div>
                  <div class="content-one-third-footer"></div>
              </div>
              <!-- One Third End -->
        </div>